<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{views/layout}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Add matchEntity</title>

</head>
<body>
<div layout:fragment="custom-content">
    <!--<div th:if="${isUserAdded}">-->
        <!--<div class="alert alert-success" role="alert">-->
            <!--User has been added successfully-->
            <!--&lt;!&ndash;${userId}:${userLogin}&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <div class="container">
        <div class="py-5 text-center">
            <h2>Add Match</h2>
            <p class="lead">
                Here you can add new matchEntity.
            </p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <form class="needs-validation" action="/action/addMatch" method="post" novalidate>
                    <input id="homeId" type="hidden" name="homeId" th:value="${homeId}">
                    <input id="awayId" type="hidden" name="awayId" th:value="${awayId}">
                    <input id="matchId" type="hidden" name="matchId" th:value="${matchId}">
                    <div class="mb-3">
                        <label for="home">HOME</label>
                        <input id="home" class="form-control" type="text" name="home" th:value="${home}">
                    </div>
                    <div class="mb-3">
                        <label for="away">AWAY</label>
                        <input id="away" class="form-control" type="text" name="away" th:value="${away}">
                    </div>
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>