<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">BFB</title>
    <link href="../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/views/addUser">Add user</a></li>
        <li class="breadcrumb-item"><a href="/views/addMatch">Add match</a></li>
        <li class="breadcrumb-item"><a href="/views/matches">Matches</a></li>
        <li class="breadcrumb-item"><a href="/views/addTeam">Add team</a></li>
        <li class="breadcrumb-item"><a href="/views/teams">Teams</a></li>

    </ol>
</nav>
<div layout:fragment="custom-content">
    <p>Your page content goes here</p>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>