<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{views/layout}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Add matchEntity</title>

</head>
<body>
<div layout:fragment="custom-content">
    <!--<div th:if="${isUserAdded}">-->
    <!--<div class="alert alert-success" role="alert">-->
    <!--User has been added successfully-->
    <!--&lt;!&ndash;${userId}:${userLogin}&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <div class="container">
        <table>
            <tr th:each="matchEntity, stat : ${matchList}">
                <td th:text="${matchEntity.home.name}"></td>
                <td th:text="${matchEntity.away.name}"></td>
                <td><a th:href="@{/views/matches/{id}/update(id=${matchEntity.id})}">EDIT</a></td>
                <td><a th:href="@{/views/matches/{id}/bet(id=${matchEntity.id})}">BET</a></td>
                <td>
                    <ul th:each="bet : ${matchEntity.getBets()}">
                        <li >
                            <p th:text="${bet.getAwayScore()}"></p>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
